a {
    color: #000;
}

a:hover {
    color: #2ab8d5;
}

.navbar {
    /*background-image: url("/images/bg.png");*/
    border-bottom:1px solid rgba(0,0,0,.125);
}

.navbar-logo {
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-right: 15px;
    background: url("/images/logo_64.png");
    background-size: cover;
}

.navbar-brand {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
}

.marathon-days-badge {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: bold;

    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
}

.marathon-days-badge-count {
    font-size: 2em;
    font-weight: normal;
    font-family: 'Rubik Mono One', sans-serif;
}

.marathon-status-badge {
    text-align: center;
    margin-bottom: 10px;
}

.marathon-members-badge {
    font-weight: bold;
    /*text-align: right;*/
    /*color: #686f72;*/
    color: #72787f;
}

.marathon-members-badge-count {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    font-family: 'Rubik Mono One', sans-serif;

}

.marathon-members-badge-extra {
    font-size: 0.9em;
    line-height: 0.9em;
}

.marathon-members-wrapper img {
    margin-bottom: 8px;
}

.marathon-milestone-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.marathon-milestone-item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    /*font-family: 'Rubik Mono One', sans-serif;*/
    color: #61676b;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.marathon-milestone-point {
    border-radius: 50%;
    color: #000;
    height: 35px;
    width: 35px;
    line-height: 37px;
}

.marathon-milestone-point-success {
    background: #000;
    border-radius: 50%;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.marathon-milestone-point-today {
    /*border: 2px solid #3490dc;*/
    box-shadow: 0 2px 24px #20a0b6, 0px 5px 7px #0acadf;
}

.medal-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.medal-item {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    position: relative;
}
.medal-item img {
    height: 100%;
    width: 100%;
}

.medal-item span {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.user-item-image {
    height: 100px;
    width: 100px;
}

.user-item-count {
    font-size: 2em;
    font-weight: normal;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
}

.tooltip_templates {
    display: none;
}

#tooltip_content {

}

.tooltip-head {
    font-size: 1.1em;
    font-weight: bold;
}

.tooltip-body {

}